.container {
     position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.two {
    position: absolute;
    margin-left: 55%;
    margin-top: -167%;
}

.three {
    position: absolute;
    margin-left: 110%;
    margin-top: -167%;
    
}

#well span {
    position: absolute;
    margin-left: 10%;
    margin-top: -20%;
    font-size: 140px;
    width: 40%;
    
}

.noVisto {
    color: transparent;
}

.visto {
    display: flex;
}

#well svg {
    margin: -23%;
}

.path {
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash 1.5s linear forwards;
}

.ani {
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash 1.5s linear forwards;    
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}